.left-news{
    &__description{
        background: #4f89b9;
        width: 100%;
        padding: 5px 0 15px 5px;
        h2{
            font-size: 16px;
            color: #dddd10;
        }

        h1{
          font-size: 18px;  
          color: #fff;
          margin-bottom: 8px;
        }

        p{
            font-size: 14px;
            color: #ededed;
        }
    }
    &__description-img{
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrapper{
        margin-top: 2em;
        width: 100%;
    }
    &__container{
        display: grid;
        grid-template-columns: 40% 57%;
        gap: 20px;
        margin-bottom: 2em;
        width: 100%;
    }

    &__img{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text{
       span{
        color: #4f89b9;
       }
       p{
        font-size: 18px;
        margin-top: 10px;
       }
    }

}